/* Min Width 1201px and Max Width 1399400*/

@media (min-width: 1201px) and (max-width: 1400px) {
}

/* Min Width 993px and Max Width 1199200*/

@media (min-width: 993px) and (max-width: 1200px) {
}

/* Min Width 769px and Max Width 992px */

@media (min-width: 769px) and (max-width: 992px) {
  .mobile__nav {
    padding: 30px 30px 0 20px;
  }
}

/* Min Width 300px and Max Width 768px */

@media (min-width: 300px) and (max-width: 768px) {
  .mobile__nav {
    padding: 30px 30px 0 20px;
  }

  .mm__buttons .primary-btn a {
    width: 100%;
  }

  .footer__about p {
    margin-bottom: 0;
  }

  .footer__menu {
    padding-top: 30px;
  }

  .footer__bottom {
    text-align: center;
    padding-top: 40px !important;
    margin-top: 50px;
    border-top: 1px solid var(--white);
  }

  .footer__privacy {
    justify-content: center;
    padding: 20px 0;
  }

  .footer__social ul li {
    padding-left: 0;
    padding: 0 15px;
  }

  .footer__copyright p {
    margin: 0;
  }
}
